
button {
  background-color: rgb(25, 135, 84);
  color: white;
  padding: 12px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

input {
  padding: 12px 15px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 15px;

  flex-grow: 1;
}

.chatbot {
  display: flex;
  margin-bottom: 30px;
}

.user {
  display: flex;
  justify-content: end;
  gap: 10px;
  align-items: start;


}

.robot {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10px;
}

.chat-message {
  background-color: rgb(238, 238, 238);
  padding: 15px 20px;
  border-radius: 10px;
  align-items: center;
  margin-bottom: 20px;
  max-width: 50%;
}

.appContainer {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.chat-messages-container {
  /* flex-grow:1; */
  margin-top: 20px;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

}